@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (Model.IsAuthenticated)
    {
        <p class="lead">You are authenticated as @Model.Email.</p>
        @if (Model.UsuarioNovo)
        {
            <div class="alert alert-success" role="alert">
                Usuário criado com sucesso!
            </div>
        }

        <table>
            <tr>
                <th>Música</th>
                <th>Artista</th>
                <th>Album</th>
                <th>Ação</th>
            </tr>
            @foreach (var item in Model.Favoritas)
            {
                <tr>

                    <td>@item.Nome</td>
                    <td>@item.Artista</td>
                    <td>@item.Album</td>
                    <td>

                        @if (!item.Favorita)
                        {
                            <form method="post" action="/Home/AddFavorita" class="form-inline">
                                <input type="hidden" name="IdMusica" value="@item.IdMusica" />
                                <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />
                                <button type="submit" class="btn btn-link">Adicionar aos favoritos</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" action="/Home/RemoveFavorita" class="form-inline">
                                <input type="hidden" name="IdMusica" value="@item.IdMusica" />
                                <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />
                                <button type="submit" class="btn btn-link">Remover dos favoritos</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </table>


    }
    else
    {
        <p class="lead">You are not authenticated.</p>
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-link" })

    }


    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
