@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (Model.IsAuthenticated)
    {
        <p class="lead">You are authenticated as @Model.Email.</p>
        @if (Model.UsuarioNovo)
        {
            <div class="alert alert-success" role="alert">
                Usuário criado com sucesso!
            </div>
        }

        <form method="get" action="/Home/Search" class="form-inline">
            <input type="hidden" name="id" value="@Model.IdUsuario" />
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon" name="search">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon">Search</button>
            </div>
        </form>
        <br />
        <table class="table table-hover">
            <tr>
                <th scope="col">Música</th>
                <th scope="col">Artista</th>
                <th scope="col">Album</th>
                <th scope="col">Ação</th>
            </tr>
            @foreach (var item in Model.Favoritas)
            {
                <tr>

                    <td>@item.Nome</td>
                    <td>@item.Artista</td>
                    <td>@item.Album</td>
                    <td>

                        @if (!item.Favorita)
                        {
                            <form method="post" action="/Home/AddFavorita" class="form-inline">
                                <input type="hidden" name="IdMusica" value="@item.IdMusica" />
                                <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />
                                <button type="submit" class="btn btn-outline-success">Adicionar</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" action="/Home/RemoveFavorita" class="form-inline">
                                <input type="hidden" name="IdMusica" value="@item.IdMusica" />
                                <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />
                                <button type="submit" class="btn btn-outline-danger">Remover</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </table>


    }
    else
    {
        <p class="lead">You are not authenticated.</p>
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-link" })

    }


    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
